body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #adbbda;
  
}

.navbar {
  background: #003135;
  padding: 40px;
  border-radius: 10px;
  text-align: right;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  font-family: poppins, sans-serif;
}

.navbar a:hover {
  background: #024950;
  border-radius: 20%;
}

#home {
  padding: 30px;
  background: #cc6146;
  border-radius: 10px;
}

#home h1 {
  color: #003135;
  font-family: sans-serif;
  text-align: center;
  font-size: 50px;
}

#home p {
  color: #003135;
  font-family: sans-serif;
  text-align: center;
  font-size: 20px;
}
#home img {
  width: 350px;
  height: 300px; 
  display: block;
  margin: 0 auto 8px auto;
  padding: 2%;
  z-index: -5;
  transition: transform 0.3s ease;
}

#home img:hover {
  transform: scale(1.15); 
  cursor: pointer;
}


article {
  margin: 20px 0;
  padding: 20px;
  background: #90aead;
  border-radius: 10px;
}

#about {
  padding: 20px;
  background: #fbe9d0;
  border-radius: 10px;
  margin-top: 20px;

}

#about h2 {
  color: #003135;
  font-family: sans-serif;
 text-align: center;
  font-size: 40px;
}

.about-introduction p {
  color: #003135;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 22px; 
}

#about h3 {
  color: #003135;
  font-family: sans-serif;
 text-align: center;
  font-size: 40px;
}


.about-interests p {
  color: #003135;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 22px; 
}

.about-interests-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.about-interests {
  flex: 1;
  text-align: left;
}

.about-interests-img {
  width: 300px  ;
  height: 200px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}
.about-interests img:hover {
  transform: scale(1.15); 
  cursor: pointer;
}

.zoom-image {
  width: 200px;
  transition: transform 0.3s ease; 
  background-color: #fbe9d0;
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  display: block;
  border: 10px solid #fbe9d0; 
}

.zoom-image:hover {
  transform: scale(1.1); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.zoom-image-container {
  display: flex;
  gap: 40px;
}

.home-content-flex h1 {
  background: #fbe9d0;
  padding: 20px 30px;
  border-radius: 12px;
  color: #003135;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  text-align: center;
}

.home-content-flex {
  background: #b7e4c7;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-top: 20px; 
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
  padding: 30px 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
  position: absolute;
  left: 20px;
  top: 1px;
}

.navbar-brand img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
  top: 0px;
}

.brand-text {
  color: #e3eafc;
  font-size: 32px;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.2;
  margin-left: 8px;
  
}

#favorites {
  padding: 20px;
  background: #e3eafc;
  border-radius: 10px;
  margin-top: 20px;
}

#favorites h3 {
  color: #003135;
  font-family: sans-serif;
  text-align: center;
  font-size: 40px;
}

.games-logo-row {
  text-align: center;
  margin-bottom: 18px;
  gap: 400px;
  display: flex;
  justify-content: center;
}

.games-logo {
  width: 400px;
  height: 200px;
  object-fit: cover;
  margin: 0;
  vertical-align: middle;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: inline-block;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
}

.games-logo:hover {
  transform: scale(1.15);
  box-shadow: 0 8px 20px rgba(0,0,0,0.18);
  cursor: pointer;
}

.games-logo.cry-of-fear {
  display: block;
  margin: 18px auto 0 auto;
}

#favorites p {
  color: #003135;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 30px; 
}

#videoPopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

#videoPopup video {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  width: 600px;
  height: 600px;
  object-fit: contain;
  box-sizing: border-box;
}

#videoPopup button {
  position: absolute;
  top: 20px;
  right: 30px;
  background: #990000;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.corner-left {
  width: 200px;
  height: auto;
}

.corner-right {
  width: 255px;
  height: auto;
}

#vid-wrapper {
  display: flex;
 align-items: center;
gap: 20px;
}

#credits img {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  margin-right: 10px;
}

#credits p {
  color: #003135;
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
  align-items: center;
}

.games-played h1 {
  color: #003135;
  font-family: sans-serif;
  text-align: center;
  font-size: 40px;
}

.marquee-container {
  overflow: hidden;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 10px 0;
  background:#e3eafc;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #e3eafc);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #e3eafc);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 200px;
  margin: 0;
  background-color: black;
  vertical-align: top;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.logos-slide img:hover {
  transform: scale(1.1);
  cursor: pointer;
  z-index: 10;
}

#music {
  padding: 20px;
  background: #201E43;
  border-radius: 10px;
  margin-top: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

.MUSIC h1{
  text-align: center;
  font-size: 40px;
  color: #e3eafc;
}

.MUSIC p {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.sleeptoken_bg {
  background: #0A0A0A;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px 	#1A1A1A;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sleeptoken_bg:hover {
  background: #1c0000;
  transform: scale(1.02);
}

.sleeptoken {
  color:#900603;
  font-weight: bold;
  margin: 10px 0 5px;
  font-family: 'EB Garamond', serif;
  margin: 0;
  text-align: center;
  flex: 1;
}

.sleeptoken_description {
  flex: 1;
  background: #CBA135;
  padding: 10px;
  border-left: 9px solid #444;
  border-radius: 4px;
  text-align: center;
}

.starset_bg:hover {
  background: #508C9B;
  transform: scale(1.02);
}

.starset_bg {
  background: #0C0F14;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.starset{
  color:#C0D6FF;
  margin: 10px 0 5px;
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  text-align: center;
  flex: 1;
}

.starset_description {
  flex: 1;
  background: #231769;
  padding: 10px;
  border-left: 4px solid #0b0164;
  border-radius: 4px;
  text-align: center;
}

.badomens_bg:hover {
  background: #6e0000;
  transform: scale(1.02);
}

.badomens_bg {
  background: #000000;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.badomens {
  color:#BDBDBD;
  margin: 10px 0 5px;
  font-family: 'IM Fell English SC', serif;
  margin: 0;
  text-align: center;
  flex: 1;
}

.badomens_description {
  flex: 1;
  background: #572d27;
  padding: 10px;
  border-left: 4px solid #201e1e;
  border-radius: 4px;
  text-align: center;
  color: #e4e6ee;
}

.neighbourhood_bg:hover {
  background: #464444;
  transform: scale(1.02);
}

.neighbourhood_bg {
  background: #0F0F0F;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.neighbourhood {
  color:#EAEAEA;
  margin: 10px 0 5px;
  font-family: 'GFS Didot', serif;
  margin: 0;
  text-align: center;
  flex: 1;
}

.neighbourhood_description {
  flex: 1;
  background: #A0A0A0;
  padding: 10px;
  border-left: 4px solid #f5f2f2;
  border-radius: 4px;
  text-align: center;
}

.pilots_bg:hover {
  background: 	#ffffff;
  transform: scale(1.02);
}

.pilots_bg {
  background: #000000;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.pilots {
  color:#da3316;
  margin: 10px 0 5px;
  font-family: 'Bebas neue', serif;
  margin: 0;
  text-align: center;
  flex: 1;
}


.pilots_description {
  flex: 1;
  background: #470101;
  padding: 10px;
  border-left: 4px solid 	#F1F1F1;
  border-radius: 4px;
  text-align: center;
  color: #EAEAEA;
}


.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
  transform: translateY(-10px);
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}


.dropdown.show {
  max-height: 300px;
  opacity: 1;
  transform: translateY(0);
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}


.band-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.band-logo {
  width: auto;
  height: 200px;
  border-radius: 6px;
  object-fit: cover;
}

.master-dropdown {
 display: flex;
max-height: 0;
overflow: hidden;
transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
  transform: translateY(-10px);
}

.master-dropdown.show {
  display: block;
  max-height: 2000px;
}

.arrow{
  display: inline-block;
  transition: transform 0.3s ease;
}

#fav_music {
  padding: 20px;
  background: #35374B;
  border-radius: 10px;
  margin-top: 20px;
}

.music_list {
  flex-direction: column;
  gap: 20px;
}

.music_list h1 {
  color: #78A083;
  font-family: sans-serif;
  text-align: center;
  font-size: 40px;
}

.track {
 margin: 10px 0;
cursor: pointer;
}

 .track-title {
 display: flex;
align-items: center;
 gap: 10px;
 }

.album-cover {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
}

.music-list-dropdown {
  display: none;
}
.music-list-dropdown.show {
  display: block;
}

.satellite {
  background: #222;
  color: #fff;
  border-left: 5px solid #4e8cff;
  border-radius: 20px;
  padding-left:40px;
  padding-right:40px;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
  transition:transform 0.3s ease;
  text-align: center;
  width: 100%;
}

.satellite span {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  color: #4e8cff;
}

.satellite:hover {
  background: #333;
  cursor: pointer;
  transform: scale(1.01);
}

.Summoning {
  background: #BFA45F;
  color: #fff;
  border-left: 5px solid #1A1A1A;
  border-radius: 20px;
  padding-left:40px;
  padding-right:40px;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  transition:transform 0.3s ease;
  text-align: center;
  width: 100%;
}

.Summoning:hover {
  background: #EAE6DA;
  cursor: pointer;
  transform: scale(1.01);
}

.Summoning span {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  color: #0C0C0C;
}

.Who-are-you{
    background: 	#2E2E2E;
  color: #fff;
  border-left: 5px solid #c40000;
  border-radius: 20px;
  padding-left:40px;
  padding-right:40px;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  transition:transform 0.3s ease;
  text-align: center;
  width: 100%;
}

.Who-are-you:hover {
  background: #EAEAEA;
  cursor: pointer;
  transform: scale(1.01);
}

.Who-are-you span {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  font-family: 'Montserrat', serif;
  font-weight: bold;
  color: #750000;
}

.TheDiary {
  background: #1A1A1A;
  color: #fff;
  border-left: 5px solid 	#7B2D26;
  border-radius: 20px;
  padding-left:40px;
  padding-right:40px;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  transition:transform 0.3s ease;
  text-align: center;
  width: 100%;
}

.TheDiary:hover {
  background: #A58C72;
  cursor: pointer;
  transform: scale(1.01);
}

.TheDiary span {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  color: 	#DAD5C3;
}

.Letdown {
  background: #5C8B93;
  color: #fff;
  border-left: 5px solid 	#3A3A3A;
  border-radius: 20px;
  padding-left:40px;
  padding-right:40px;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  transition:transform 0.3s ease;
  text-align: center;
  width: 100%;
}

.Letdown:hover {
  background: #B9AFC1;
  cursor: pointer;
  transform: scale(1.01);
}

.Letdown span {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  font-family: 'Space Grotesk', serif;
  font-weight: bold;
  color: 	#D9D9D9;
}

.SDITD {
  background: #0A0A0F;
  color: #fff;
  border-left: 5px solid 		#7F5A83;
  border-radius: 20px;
  padding-left:40px;
  padding-right:40px;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  transition:transform 0.3s ease;
  text-align: center;
  width: 100%;
}

.SDITD:hover {
  background: #7E1C1C;
  cursor: pointer;
  transform: scale(1.01);
}

.SDITD span {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: 		#DADADA;
}

.Softcore {
  background: #101010;
  color: #fff;
  border-left: 5px solid 			#A47C84;
  border-radius: 20px;
  padding-left:40px;
  padding-right:40px;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  transition:transform 0.3s ease;
  text-align: center;
  width: 100%;
}

.Softcore:hover {
  background: 	#958DA5;
  cursor: pointer;
  transform: scale(1.01);
}

.Softcore span {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  font-family: 'GFS Didot', serif;
  font-weight: bold;
  color: 		#EAEAEA;
}

.RH {
  background: 	#0D0D0D;
  color: #fff;
  border-left: 5px solid 			#5B6D75;
  border-radius: 20px;
  padding-left:40px;
  padding-right:40px;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  transition:transform 0.3s ease;
  text-align: center;
  width: 100%;
}

.RH:hover {
  background: 		#4B4B4B;
  cursor: pointer;
  transform: scale(1.01);
}

.RH span {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  font-family: 'cormorant garamond', serif;
  font-weight: bold;
  color: 		#7E3F46;
}





